// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  font: verdana;
  size: 30px;
  color:hotpink;
}


body {
  color: white;
  font:verdana;
  size:10px;
  background-color: lightgrey;
  text-align: center;

}

#container {
  background-image: asset-url("twinpeaks.png")
}
#content hover {
  color:pink;
}


